.footer {
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
    justify-content: flex-end;
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    color: #c1b4cf;
}