#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
    z-index: 100;
}

.option {
    color: #d793bb;
    font-size: 1.5rem;
    padding: 0 10px 15px 0;
    font-family: 'League Spartan', sans-serif;
}

.option span {
    margin-left: 6px;
    font-weight: 700;
    color: #b7b3f5;
}

.option span:hover {
    cursor: pointer;
}

.btn {
    padding: 12px 24px;
    margin: 0 2px;
    border-radius: .75rem;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid #a29dec;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: #d793bb;
    cursor: pointer;
    transition: all 0.2s;
}

@keyframes colorChange {
    0% {
        color: white;
    }

    50% {
        color: #b7b3f5;
        /* Blue color, adjust as needed */
    }

    100% {
        color: white;
    }
}

.loadingBtn {
    cursor: not-allowed;
    animation: colorChange 3s infinite;
}

.btn:hover {
    color: #8f88e6;
    background-color: white;
}

#dice {
    width: 14px;
    margin-right: 5px;
    margin-left: -4px;
}

#input,
#select {
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 16px;
    margin-right: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#alertInput {
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 16px;
    margin-right: 2px;
    color: red;
    border: 1px solid red;
    box-shadow: 0 0 30px red;
    border-radius: 4px;
}

@media (max-width: 620px) {
    #form {
        flex-direction: column;
    }

    .option {
        margin-top: 20px;
    }
}