.favoritesContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    z-index: 1;
}

.myFavorites {
    margin: 7% 12px 38px 12px;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
        0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
    font-size: 3rem;
}

.noFavoritesMessage {
    color: #fff;
    font-family: "Vibur", sans-serif;
    padding: 20px;
    line-height: 55px;
    text-align: center;
    font-size: 3rem;
}

@media (max-width: 1125px) {
    .favoritesContainer {
        margin-top: 15%;
        margin-bottom: 23px;
    }

    .myFavorites {
        margin: 45px 12px 18px 12px;
    }
}

@media (max-width: 850px) {
    .favoritesContainer {
        margin-top: 15%;
    }
}

@media (max-width: 725px) {
    .favoritesContainer {
        margin-bottom: 18px;
    }

    .myFavorites {
        margin: 65px 12px -15px 12px;
    }
}

@media (max-width: 695px) {
    .myFavorites {
        margin: 115px 12px -45px 12px;
    }
}

@media (max-width: 495px) {
    .myFavorites {
        margin: 165px 12px -95px 12px;
    }
}

@media (max-width: 455px) {
    .myFavorites {
        margin: 55% 12px -95px 12px;
    }
}